<!--
<footer class="ctext-center" >
  <div class="footer-below">
    <p class="text-center">Copyright ©2017 ob Listing
        <br>Design by lyzg
    </p>
  </div>
</footer>
-->
<div class="footer">
        <p class="text-center">Copyright ©2016 Rails101
            <br>Design by NicLin
        </p>
</div>
